<div class="container mt-5">
    <!-- App Introduction Section -->
    <div class="row justify-content-center">
        <div class="col-md-10 text-center">
            <h1 class="mb-4">Welcome to Equilibrio</h1>
            <p>Equilibrio is your companion in the journey towards a balanced life, offering comprehensive support for mental and physical well-being, alongside financial stability. Discover a suite of tools designed to foster resilience and growth.</p>
            <p>Join our community to unlock the full potential of your health and finances. Get started now and harmonize life's dimensions!</p>
        </div>
    </div>

    <!-- Features Section -->
    <div class="row text-center mt-5">
    <div class="col-md-4 mb-4">
        <h3>Health Support</h3>
        <p>Personalized programs and expert resources to nurture your mental and physical health.</p>
    </div>
    <div class="col-md-4 mb-4">
        <h3>Financial Manager</h3>
        <p>Tools for intelligent budgeting, savings goals, and expense tracking to secure your financial future.</p>
    </div>
    <div class="col-md-4 mb-4">
        <h3>Mental Aid Manager</h3>
        <p>Mindfulness practices, mood tracking, and professional support for your mental well-being.</p>
    </div>
    </div>

    <!-- Authentication Component Embedding -->
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <app-auth></app-auth>
        </div>
    </div>
</div>
